.sobre_container {
  /*DISPLAY*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sobre_container h1 {
  align-self: flex-start;
  margin-top: 120px;
  margin-bottom: 30px;
  font-size: 3.5rem;
}

.sobre_container p {
  margin-bottom: 36px;
  color: rgb(151, 150, 150);
}

#ultimo-p {
  margin-bottom: 120px;
}

@media (max-width: 850px) {
  .sobre_container h1 {
    font-size: 5rem;
  }
  .sobre_container p {
    font-size: 1.5rem;
    margin-bottom: 16px;
    color: rgb(151, 150, 150);
    line-height: 1.8rem;
  }
}
@media (max-width: 550px) {
  .sobre_container > h1 {
    font-size: 2.8rem;
    margin-bottom: 30px;
  }
  .sobre_container > p {
    font-size: 1.1rem;
  }
  #ultimo-p {
    margin-bottom: 50px;
  }
}
