/*1=n=nunito(300,400,600,700)*/
/*2=u=ubuntu(300,400,500,700)*/

.font-u-xs {
  font: 400 0.75rem/1.35 'Ubuntu', sans-serif;
}

.font-n-xs {
  font: 400 0.875rem/1.43 'Nunito', sans-serif;
}

.font-u-s {
  font: 400 1rem/1.5 'Ubuntu', sans-serif;
}

.font-n-s {
  font: 400 1rem/1.5 'Nunito', sans-serif;
}

.font-n-m,
.font-u-m-b {
  font: 500 1.125rem/1.35 'Ubuntu', sans-serif;
}

.font-n-m-b {
  font-weight: 600;
}

.font-n-m {
  font: 500 1.125rem/1.35 'Nunito', sans-serif;
}

.font-u-l {
  font: 400 1.5rem/1.5 'Ubuntu', sans-serif;
}

.font-u-l-b {
  font: 600 1.5rem/1.5 'Ubuntu', sans-serif;
}

.font-n-l,
.font-n-l-b {
  font: 400 1.5rem/1.5 'Nunito', sans-serif;
}

.font-u-l-b {
  font-weight: 500;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}

.font-u-xl {
  font: 600 2rem/1.25 'Ubuntu', sans-serif;
}

.font-n-xl {
  font: 500 2rem/1 'Nunito', sans-serif;
}

.font-u-xxl {
  font: 600 4rem/1 'Ubuntu', sans-serif;
}

/*EFEITO*/

.font-enfeite-bg-c {
  font-size: 6rem;
  /**/
  color: var(--c-bg-blue);
  text-shadow: 4px 3px 0px rgb(219, 219, 219);
}

.font-enfeite-bg-b {
  font-size: 6rem;
  text-shadow: 4px 3px 0px rgb(161, 161, 161), 9px 8px 0px rgba(0, 0, 0, 0.15);
}

/*EFEITO SPAN TAG P - SOBRE */
.font-efeito-p {
  font-size: 2.313rem;
  color: rgb(124, 124, 124);
  line-height: 2.3rem;
}
